/*doc
---
title: Buttons
name: buttons
category: Components - Buttons
---
## Simple Button
```html_example
<button href='#' class='clause-button'>
  Praesent quis rhoncus
</button>
```
*/

.clause-button
  @extend .btn
  @extend .btn-primary

  cursor pointer
